<div class="container">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img src="../../assets/images/fiat.png" alt="">
        </div>
        <form>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selModel">MODELO</label>
                <select class="form-control" id="selModel">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selVers">VERSIÓN</label>
                <select class="form-control" id="selVers">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selEstado">ESTADO</label>
                <select class="form-control" id="selEstado">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selDistri">DISTRIBUIDOR</label>
                <select class="form-control" id="selDistri">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row subtitle-form">
            <div class="col-md-8 offset-md-2">
              <h1 class="text-center"> <span>Datos personales</span></h1>
              <h3 class="text-center">ESCRIBE TUS DATOS PERSONALES</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="nombre">NOMBRE (S)</label>
                <input type="text" class="form-control" id="nombre" placeholder="ESCRIBE TU NOMBRE">
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="apellido-p">APELLIDO PATERNO</label>
                <input type="text" class="form-control" id="apellido-p" placeholder="ESCRIBE TU APELLIDO">
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="apellido-m">APELLIDO MATERNO</label>
                <input type="text" class="form-control" id="apellido-m" placeholder="ESCRIBE TU APELLIDO">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="email" class="form-control" id="email" placeholder="CORREO@EMAIL.COM.MX">
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="telefono">TELÉFONO</label>
                <input type="tel" class="form-control" id="telefono" placeholder="01.844.439.0654">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="grp-button">DESEO SER CONTACTADO POR</label>
                <div id="grp-button" class="btn-group" role="group">
                  <button type="button" class="btn btn-secondary">TELÉFONO</button>
                  <button type="button" class="btn btn-secondary">EMAIL</button>
                  <button type="button" class="btn btn-secondary">AMBOS</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row subtitle-form">
            <div class="col-md-8 offset-md-2">
              <h1 class="text-center"> <span>Forma de pago</span></h1>
              <h3 class="text-center">ESCRIBE TUS DATOS PERSONALES</h3>
            </div>
          </div>
          <div class="row subtitle-form">
            <div class="col-md-8 offset-md-2">
              <h1 class="text-center"> <span>Comentarios</span></h1>
              <h3 class="text-center">NOS IMPORTAN TUS COMENTARIOS</h3>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>