<div class="container">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img src="../../assets/images/fiat.png" alt="">
        </div>
        <form>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selModel">MODELO</label>
                <select class="form-control" id="selModel">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selVers">VERSIÓN</label>
                <select class="form-control" id="selVers">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selEstado">ESTADO</label>
                <select class="form-control" id="selEstado">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="selDistri">DISTRIBUIDOR</label>
                <select class="form-control" id="selDistri">
                  <option value="" disabled selected>SELECCIONA</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row subtitle-form">
            <div class="col-md-10 offset-md-1">
              <h1 class="text-center background double"><span>Datos personales</span></h1>
              <h3 class="text-center">ESCRIBE TUS DATOS PERSONALES</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="nombre">NOMBRE (S)</label>
                <input type="text" class="form-control" id="nombre" placeholder="ESCRIBE TU NOMBRE">
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="apellido-p">APELLIDO PATERNO</label>
                <input type="text" class="form-control" id="apellido-p" placeholder="ESCRIBE TU APELLIDO">
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="apellido-m">APELLIDO MATERNO</label>
                <input type="text" class="form-control" id="apellido-m" placeholder="ESCRIBE TU APELLIDO">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="email" class="form-control" id="email" placeholder="CORREO@EMAIL.COM.MX">
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-group">
                <label for="telefono">TELÉFONO</label>
                <input type="tel" class="form-control" id="telefono" placeholder="01.844.439.0654">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <label for="grp-button">DESEO SER CONTACTADO POR</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div id="grp-button" class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                <label class="btn btn-outline-danger w-100 active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked><i
                    class="icon ion-md-call"></i> TELÉFONO
                </label>
                <label class="btn btn-outline-danger w-100">
                  <input type="radio" name="options" id="option2" autocomplete="off"><i class="icon ion-md-mail"></i>
                  EMAIL
                </label>
                <label class="btn btn-outline-danger w-100">
                  <input type="radio" name="options" id="option3" autocomplete="off"> AMBOS
                </label>
              </div>
            </div>
          </div>
          <div class="row subtitle-form">
            <div class="col-md-10 offset-md-1">
              <h1 class="text-center background double"> <span>Forma de pago</span></h1>
              <h3 class="text-center">PERSONALIZA TU COTIZACIÓN</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
              <label for="grp-button">ELIJE TU TIPO DE PAGO</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
              <div id="grp-button" class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                <label class="btn btn-outline-danger w-100 active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked>CONTADO
                </label>
                <label class="btn btn-outline-danger w-100">
                  <input type="radio" name="options" id="option2" autocomplete="off">CRÉDITO
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1">
              <div class="form-group">
                <label for="enganche">CANTIDAD DE ENGANCHE</label>
                <input type="number" step="0.01" min="0" class="form-control" id="enganche" placeholder="80,000.00">
              </div>
            </div>
            <div class="col-md-5  col-sm-5">
              <div class="form-group">
                <label for="selModel">PLAZOS</label>
                <select class="form-control" id="selModel">
                  <option value="" disabled selected>SELECCIONA</option>
                  <option value="1">72 MESES</option>
                  <option value="2">100 MESES</option>
                  <option value="3">150 MESES</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row subtitle-form">
            <div class="col-md-10 offset-md-1">
              <h1 class="text-center background double"> <span>Comentarios</span></h1>
              <h3 class="text-center">NOS IMPORTAN TUS COMENTARIOS</h3>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>