select{
  border-radius: 0!important;
  border-color: red!important;
}

img { 
  float: none;
    position: relative;
    top: -124px;
    /* position: absolute; */
}

select,input,textarea {
  border-radius: 0!important;
  border-color: red!important;
}
label{
  font-size: 10px ;
}
h3{
  color:black;
  margin-bottom: 30px;
}

h1{
  color: red;
  font-weight: 800;
  margin-bottom: 0px;
}
/* If the screen size is 472px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 472px) {
  h1{
    font-size: 40px !important;
  }
}
/* If the screen size is 471px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 471px) {
  h1{
    font-size: 32px !important;
  }
}

h1.background {
  position: relative;
  z-index: 1;
  
  &:before {
      border-top: 2px solid #dfdfdf;
      content:"";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
  }

  span { 
      /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
      background: white; 
      padding: 0 15px; 
  }
}

h1.double:before { 
  /* this is just to undo the :before styling from above */
  border-top: none; 
}

h1.double:after {
  border-bottom: 1px solid red;
  -webkit-box-shadow: 0 1px 0 0 red;
  -moz-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute;
  top: 45%; left: 0; right: 0;
  width: 95%;
  z-index: -1;
}

.subtitle-form{
  margin-top: 40px;
}

.btn{
  color: black;
  border-radius: 0!important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.final-row{
  margin-top: 50px;
}

a{
  text-decoration: underline !important;
  color: black !important;
}

.imgen-container{
  height: 60px;;
}