.logo-nav {
  /* float: left;
  position: relative;
   *//* overflow: visible !important; */
   top: -27px; 
   left: 40px;
  position: absolute;
}
nav{
  /* position: absolute; */
  position: relative;
}

.nav-item{
  text-align: right;
}


.ul-center {
  justify-content: center;
}

